<?xml version="1.0" encoding="utf-8" ?>
<configuration>
<configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
</configSections>
  <log4net>
    <!--
      Refer to:
        https://www.codeproject.com/Articles/140911/log-net-Tutorial
        https://logging.apache.org/log4net/release/manual/configuration.html#configuration.files
    -->
    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="${APPDATA}/FFPPServer/applog.txt" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <staticLogFileName value="true" />
      <maxSizeRollBackups value="5" />
      <maximumFileSize value ="10MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%level [%thread] %message %timestamp %newline %exception" />
      </layout>
    </appender>
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%level [%thread] %message %timestamp %newline %exception" />
      </layout>
    </appender>
    <root>
      <level value="ALL" />
      <appender-ref ref="RollingFileAppender" />
    </root>
  </log4net>
</configuration>
